# Ignore epi2me outputs
long_read/epi2me/wf-human-variation/
long_read/epi2me/**/refdata/

# Ignore entire mop and sqanti, but keep some files in sqanti
long_read/mop/
# IsoQuant altındakilerin hepsini ignore et
long_read/IsoQuant/*

# ama isoquant.sh dosyasını tut
!long_read/IsoQuant/isoquant.sh

# Ignore everything inside sqanti
long_read/sqanti/SQANTI3/
long_read/sqanti/ref/
long_read/sqanti/results/
long_read/sqanti/.RData
long_read/sqanti/.Rhistory
long_read/sqanti/sqanti3/
# Ignore concatemer results
long_read/concatemer/result_concatemer/

# Ignore tss outputs
long_read/tss/hg38.genome
long_read/tss/intermediate_files/
long_read/tss/ispquant_result/
long_read/tss/lyric_result/

# Ignore quantification output
long_read/quantification/output/

# Reference data (anywhere under long_read)
long_read/**/refdata/

# Large reference file types (global rule)
*.fa
*.fa.gz
*.fasta
*.fai
*.gtf
*.gff

*.err
*.out

long_read/epi2me/refdata/
long_read/epi2me/refdata/
.RData
.Rhistory

# gff_compare içindeki her şeyi ignore et
long_read/gff_compare/**

# ama alt klasördeki gff_compare.sh dosyasını takip et
!long_read/gff_compare/gffcompare/gff_compare.sh

