files
short_read/fastqc/result_fastqc
ref
long_read/epi2me
**/result_nanoplot/
**/work/
**/.nextflow/
**/*.err
**/*.out

long_read/nextflow/work/
long_read/nextflow/.nextflow/
long_read/nextflow/*.err
long_read/nextflow/*.out
long_read/nextflow/work/.nextflow.log*
long_read/nextflow/.nextflow.log*

